# This is a TOML config file.
# For more information, see https://github.com/toml-lang/toml

home-dir = ""
use-on-memory = true
sisu-server-url = "http://0.0.0.0:25456"
port = 5678

###############################################################################
###                        Database Configuration                           ###
###############################################################################
[db]
  host = "0.0.0.0"
  port = 3306
  username = "root"
  password = "password"
  schema = "dheart"
  migration-path = "file://db/migrations/"
[connection]
  host = "127.0.0.1"
  port = 28300
  rendezvous = "rendezvous"
  peers = ["/ip4/127.0.0.1/tcp/28301/p2p/16Uiu2HAmU1oJ2Wqc91foPEvVuGzFNQ3QZWecgS2Y5tw3jRKmq1Wp"]

